*
{
    font-family:  Tahoma;
}
header
{
    background-color: tomato;
    color: white;
    padding: 10px;
    clear: both;
}
main
{
    background-color: seashell;
    height: 500px;
    overflow: auto;
    clear: both;
}
#jeden, #dwa, #trzy, #cztery
{
    background-color: tomato;
    color: white;
    width: 25%;
    height: 160px;
    float: left;
}
#php
{
    background-color: white;
    color: dimgray;
    width: 60%;
    height: 220px;
    margin-top: 40px;
    margin-bottom: auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    margin-left: 25%;
}
img
{
    float: left;
    margin: 10px;
    border-radius: 10px;
}
blockquote
{
    padding: 10px;
    font-size: 150%;
    font-style: italic;
}
h1, h2
{
    text-align: center;
}
h4
{
    text-align: right;
    margin-right: 40px;
    font-size: 150%;
    font-style: italic;
}
a
{
    color: white;
}
